<?xml version="1.0"?>
<robot name="wall">
    <link name="origin">]
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>

    <link name="wall">

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>

        <collision>
            <origin rpy="0 0 0" xyz="-4.575 0 1"/>
            <geometry>
                <box size="0.15 9.3 2"/>
            </geometry>
        </collision> 

        <collision>
            <origin rpy="0 0 0" xyz="4.575 0 1"/>
            <geometry>
                <box size="0.15 9.3 2"/>
            </geometry>
        </collision> 

        <collision>
            <origin rpy="0 0 0" xyz="0 -4.575 1"/>
            <geometry>
                <box size="9.3 0.15 2"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0 0" xyz="0 4.575 1"/>
            <geometry>
                <box size="9.3 0.15 2"/>
            </geometry>
        </collision>



        <collision>
            <origin rpy="0 0 0" xyz="-3.5 -0.5 1"/>
            <geometry>
                <box size="2.0 0.15 2"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0 0" xyz="-0.9625 -0.5 1"/>
            <geometry>
                <box size="1.075 0.15 2"/>
            </geometry>
        </collision>


        <collision>
            <origin rpy="0 0 0" xyz="0.5375 -0.5 1"/>
            <geometry>
                <box size="2.075 0.15 2"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0 0" xyz="3.5 -0.5 1"/>
            <geometry>
                <box size="2.0 0.15 2"/>
            </geometry>
        </collision>


        <collision>
            <origin rpy="0 0 0" xyz="-0.5 3.5 1"/>
            <geometry>
                <box size="0.15 2.0 2"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0 0" xyz="-0.5 0.4625 1"/>
            <geometry>
                <box size="0.15 2.075  2"/>
            </geometry>
        </collision>


        <collision>
            <origin rpy="0 0 0" xyz="-0.5 -1.4625 1"/>
            <geometry>
                <box size="0.15 2.075 2"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0 0" xyz="-0.5 -4.0 1"/>
            <geometry>
                <box size="0.15 1.0  2"/>
            </geometry>
        </collision>

    </link>

    <joint name="origin_to_wall" type="fixed">
        <parent link="origin"/>
        <child link="wall"/>
        <origin xyz="4.5 4.5 0"/>
    </joint>

</robot>